@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  @apply bg-zinc-900 text-white;
  font-family: 'Roboto' Arial, sans-serif;
}

h1, .h1 {
  @apply text-6xl;
}